--extra-index-url https://download.pytorch.org/whl/cu121
ipython>=8.8.0
matplotlib>=3.6.0
networkx>=2.8.8
numpy>=1.23.3
pandas>=1.5.2
scikit_learn>=1.2.0
scipy>=1.9.1
torch>=2.1.2
cuda-python>=12.1
wandb>=0.16.1
torch-geometric>=2.2.0
jupyter >= 1.0
stable_baselines3 >= 2.2
imitation >= 1.0